sentence-transformers
google.generativeai
langgraph  
pydantic
supabase 
pandas
matplotlib
seaborn
playwright
fpdf
reportlab
streamlit
openpyxl
python-dotenv
requests
langchain_google_genai
langchain_groq